/* @media (max-width: 998px) {
  header {
    font-size: 55% !important;
  }
  h1 {
    font-size: 50% !important;
  }
}
@media (max-width: 806px) {
  header {
    font-size: 50% !important;
  }

  h1 {
    font-size: 50% !important;
  }
}

@media (max-width: 768px) {
  header {
    font-size: 45% !important;
  }
  h1 {
    font-size: 50% !important;
  }
} */